*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

h2 {
  font-size: 12px;
  font-family: 'Fjalla One', sans-serif;
  color: #FFFFFF;
  position: absolute;
  letter-spacing: 4px;
  margin-top: 216px; }

h1 {
  font-size: 50px;
  font-family: 'Amiri', serif;
  color: #FFFFFF;
  font-weight: bold;
  position: absolute;
  margin-top: 220px; }

.thick-line {
  width: 250px;
  height: 5px;
  background-color: #FFFFFF;
  position: absolute;
  margin-top: 308px; }

.top-area {
  background-image: url("../img/hero-slide1.jpg");
  width: 100vw;
  height: 500px;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center; }

.gallery-container {
  background-color: #D1D1C9;
  padding: 1px 0px;
  border-bottom: 1px solid white; }

.image1-container {
  background-image: url("../img/home-raft.jpg");
  height: 250px;
  width: auto;
  margin: 5%;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center; }

.image2-container {
  background-image: url("../img/home-basecamp.jpg");
  height: 250px;
  width: auto;
  margin: 5%;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center; }

.image3-container {
  background-image: url("../img/home-backpacking.jpg");
  height: 250px;
  width: auto;
  margin: 5%;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center; }

.image4-container {
  background-image: url("../img/home-canoe.jpg");
  height: 250px;
  width: auto;
  margin: 5%;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center; }

.image5-container {
  background-image: url("../img/home-photo.jpg");
  height: 250px;
  width: auto;
  margin: 5%;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center; }

.image6-container {
  background-image: url("../img/home-custom.jpg");
  height: 250px;
  width: auto;
  margin: 5%;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center; }

.header {
  width: 100%;
  align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between; }

.image1-container:hover .raft-icon-background, .image2-container:hover .tent-icon-background {
  width: 75px;
  height: 75px; }

.play-button {
  background-color: rgba(255, 255, 255, 0.4);
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  padding-left: 10px;
  margin-top: 338px;
  -webkit-duration: .25s;
  -moz-duration: .25s;
  -o-duration: .25s;
  transition-duration: .25s; }

.play-img {
  width: 33%; }

.play-button:hover {
  background-color: rgba(255, 255, 255, 0.7);
  width: 125px;
  height: 125px;
  margin-top: 325px; }

.raft-icon-background {
  background-image: url("../img/bg-trans-icon.png");
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-duration: 0.25s;
  -moz-duration: 0.25s;
  -o-duration: 0.25s;
  transition-duration: 0.25s; }

.tent-icon-background {
  background-image: url("../img/bg-trans-icon.png");
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-duration: 0.25s;
  -moz-duration: 0.25s;
  -o-duration: 0.25s;
  transition-duration: 0.25s; }

.tent-icon-background {
  background-image: url("../img/bg-trans-icon.png");
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-duration: 0.25s;
  -moz-duration: 0.25s;
  -o-duration: 0.25s;
  transition-duration: 0.25s; }

.svg-logo {
  height: 40px;
  width: 40px; }

.svg-title {
  height: 40px; }

.logo {
  margin-left: 5%;
  margin-top: 35px; }

.menu-icon {
  background-image: url("../img/menu-button.png");
  height: 20px;
  width: 30px;
  background-position: center;
  background-size: cover;
  align-self: center;
  margin-right: 8%;
  margin-top: 25px;
  visibility: visible; }

.alaska-icon {
  align-self: baseline;
  position: absolute;
  margin-top: 125px; }

.pic-icons {
  width: 50%; }

/*# sourceMappingURL=application.css.map */
