.top-area {
  background-image: url("../img/hero-slide1.jpg");
  width: 100vw;
  height: 500px;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-container {
  background-color: $light-background;
  padding: 1px 0px;
  border-bottom: 1px solid white;
}

.image1-container {
  background-image: url("../img/home-raft.jpg");
  height: 250px;
  width: auto;
  margin: 5%;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image2-container {
  background-image: url("../img/home-basecamp.jpg");
  height: 250px;
  width: auto;
  margin: 5%;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
}

.image3-container {
  background-image: url("../img/home-backpacking.jpg");
  height: 250px;
  width: auto;
  margin: 5%;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
}

.image4-container {
  background-image: url("../img/home-canoe.jpg");
  height: 250px;
  width: auto;
  margin: 5%;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
}

.image5-container {
  background-image: url("../img/home-photo.jpg");
  height: 250px;
  width: auto;
  margin: 5%;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
}

.image6-container {
  background-image: url("../img/home-custom.jpg");
  height: 250px;
  width: auto;
  margin: 5%;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
}
