.top-area {
  background-image: url("../img/hero-slide1.jpg");
  width: 100vw;
  height: 500px;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

.gallery-container {
  background-color: $light-background;
  padding: 1px 0px;
  border-bottom: 1px solid white;

  @media #{$brk-medium} {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }

  @media #{$brk-large} {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}

.image1-container {
  @include image-containers(url("../img/home-raft.jpg"), 250px, auto, 5%, cover, center, 3px, -webkit-box, -ms-flexbox, flex, center, center);

  @media #{$brk-medium} {
    margin: 0;
    height: 420px;
    width: 100%;
    margin-top: -1px;
  }

  @media #{$brk-large} {
    margin: 0;
    height: 420px;
    width: 50%;
  }
}

.image2-container {
  @include image-containers(url("../img/home-basecamp.jpg"), 250px, auto, 5%, cover, center, 3px, -webkit-box, -ms-flexbox, flex, center, center);

  @media #{$brk-medium} {
    margin: 0;
    height: 420px;
    width: 50%;
  }

  @media #{$brk-large} {
    margin: 0;
    height: 420px;
    width: 25%;
  }
}

.image3-container {
  @include image-containers(url("../img/home-backpacking.jpg"), 250px, auto, 5%, cover, center, 3px, -webkit-box, -ms-flexbox, flex, center, center);

  @media #{$brk-medium} {
    margin-top: -1px;
    margin: 0;
    height: 420px;
    width: 50%;
  }

  @media #{$brk-large} {
    margin: 0;
    height: 420px;
    width: 25%;
  }
}

.image4-container {
  @include image-containers(url("../img/home-canoe.jpg"), 250px, auto, 5%, cover, center, 3px, -webkit-box, -ms-flexbox, flex, center, center);

  @media #{$brk-medium} {
    margin: 0;
    height: 420px;
    width: 50%;
  }

  @media #{$brk-large} {
    margin: 0;
    height: 420px;
    width: 25%;
  }
}

.image5-container {
  @include image-containers(url("../img/home-photo.jpg"), 250px, auto, 5%, cover, center, 3px, -webkit-box, -ms-flexbox, flex, center, center);

  @media #{$brk-medium} {
    margin: 0;
    height: 420px;
    width: 50%;
  }

  @media #{$brk-large} {
    margin: 0;
    height: 420px;
    width: 25%;
  }
}

.image6-container {
  @include image-containers(url("../img/home-custom.jpg"), 250px, auto, 5%, cover, center, 3px, -webkit-box, -ms-flexbox, flex, center, center);

  @media #{$brk-medium} {
    margin: 0;
    height: 420px;
    width: 100%;
  }

  @media #{$brk-large} {
    margin: 0;
    height: 420px;
    width: 50%;
  }
}
