.header {
  width: 100%;
  height: 8.804em;
}

.top-heading {
  height: 6.848em;
  width: 100%;
  background-color: $red;
}

.nav-bar {
  height: 1.956em;
  width: 100%;
  background-color: $main-dark;
}
