.play-button {
  background-color: rgba(255,255,255,0.4);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  padding-left: 10px;
  margin-top: 338px;
  -webkit-duration: .25s;
	-moz-duration: .25s;
	-o-duration: .25s;
	transition-duration: .25s;
}

.play-img {
  width: 33%;
}

.play-button:hover {
  background-color: rgba(255,255,255,0.7);
  width: 125px;
  height: 125px;
  margin-top: 325px;
}
