.play-button {
  background-color: rgba(255,255,255,0.4);
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  padding-left: 10px;
  margin-top: 338px;
  -webkit-duration: .25s;
	-moz-duration: .25s;
	-o-duration: .25s;
	transition-duration: .25s;
}

.play-img {
  width: 33%;
}

.play-button:hover {
  background-color: rgba(255,255,255,0.7);
  width: 125px;
  height: 125px;
  margin-top: 325px;
}

.raft-icon-background {
  @include button-backs(url("../img/bg-trans-icon.png"), 50%, 60px, 60px, -webkit-box, -ms-flexbox, flex, center, .25s, .25s, .25s, .25s);
}

.image1-container:hover .raft-icon-background {
  @extend %icon-hover;
}

.tent-icon-background {
  @include button-backs(url("../img/bg-trans-icon.png"), 50%, 60px, 60px, -webkit-box, -ms-flexbox, flex, center, .25s, .25s, .25s, .25s);
}

.image2-container:hover .tent-icon-background {
  @extend %icon-hover;
}

.boot-icon-background {
  @include button-backs(url("../img/bg-trans-icon.png"), 50%, 60px, 60px, -webkit-box, -ms-flexbox, flex, center, .25s, .25s, .25s, .25s);
}

.image3-container:hover .boot-icon-background {
  @extend %icon-hover;
}

.canoe-icon-background {
  @include button-backs(url("../img/bg-trans-icon.png"), 50%, 60px, 60px, -webkit-box, -ms-flexbox, flex, center, .25s, .25s, .25s, .25s);
}

.image4-container:hover .canoe-icon-background {
  @extend %icon-hover;
}

.camera-icon-background {
  @include button-backs(url("../img/bg-trans-icon.png"), 50%, 60px, 60px, -webkit-box, -ms-flexbox, flex, center, .25s, .25s, .25s, .25s);
}

.image5-container:hover .camera-icon-background {
  @extend %icon-hover;
}

.compass-icon-background {
  @include button-backs(url("../img/bg-trans-icon.png"), 50%, 60px, 60px, -webkit-box, -ms-flexbox, flex, center, .25s, .25s, .25s, .25s);
}

.image6-container:hover .compass-icon-background {
  @extend %icon-hover;
}
