.svg-logo {
  height: 40px;
  width: 40px;
}

.svg-title {
  height: 40px;
}

.logo {
  margin-left: 5%;
  margin-top: 35px;
}

.menu-icon {
  background-image: url("../img/menu-button.png");
  height: 20px;
  width: 30px;
  background-position: center;
  background-size: cover;
  align-self: center;
  margin-right: 8%;
  margin-top: 25px;
  visibility: visible;
}

.alaska-icon {
  align-self: baseline;
  position: absolute;
  margin-top: 125px;
}
