*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin: 0;
}

h3 {
  font-size: 22px;
  font-family: 'Fjalla One', sans-serif;
  position: absolute;
  left: 5%;
  margin-left: 40px;
  margin-top: 70px;
  color: $white;
}

h2 {
  font-size: 12px;
  font-family: 'Fjalla One', sans-serif;
  color: $white;
  position: absolute;
  letter-spacing: 4px;
  margin-top: 216px;
}

h1 {
  font-size: 50px;
  font-family: 'Amiri', serif;
  color: $white;
  font-weight: bold;
  position: absolute;
  margin-top: 220px;
}

.thick-line {
  width: 250px;
  height: 5px;
  background-color: $white;
  position: absolute;
  margin-top: 308px;
}

.orange-divider {
  width: 40px;
  height: 5px;
  background-color: $orange;
  position: absolute;
  left: 5%;
  margin-left: 40px;
  margin-top: 38px;
}
